@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext');
            body {
                font-family: 'Roboto', sans-serif;
            }
            .bg{
                color: black;
                background: white;
                
            }
            h2{
    padding-bottom: 10px;
    border-bottom: 2px solid #D2222D;
}
.bg{
    color: black;
    background: white;
    padding: 15px;

}
.block{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #ddd;
}

.block:first-child{
    border-top: 2px solid #ddd;
}
.block:last-child{
    border:none;
}
.block h3{
    margin: 5px;
}
.block .block{
    margin: 10px;
    padding: 0;
    border-bottom: none;
}

.block h3{
    margin-left: -15px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    width:25%;
}

tr:first-child{
    border-top: 1px solid #ddd;
}

td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
.block h4{
    margin-bottom: 5px;
}

.step{
    width:90%;
    margin: 50px auto;
}
.step p{
    margin:5px;
}
.message{
    box-sizing: border-box;
    margin: 10px 0px;
    text-align: left;
}

.info{
    width: 50%;
}
.step table{
    width: calc(100% - 20px);
}
.message th{
    background: #238823;
    color: white;
    padding:8px;
}
.errors{
    box-sizing: border-box;
    margin: 10px 0px;
    text-align: left;
}

.errors th{
    background: #D2222D;
    color: white;
    padding:8px;
}